@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins';
	box-sizing: border-box;
	color: #fff;
}
.container{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #358391;
}
img{
	height: 70px;
	width: 100px;
	position: fixed;
	top: 40px;
	left: 50px;
}
form{
	position: relative;
	max-width: 700px;
	width: 100%;
	background: #1B2631;
	padding: 20px 30px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fa{
	font-size: 30px;
}
.fa-paper-plane-o{
	text-align: center;
	background: #fff;
	color: #000;
	padding: 12px 15px;
	border-radius: 50%;
	position: absolute;
	top: 12.5%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h1{
	font-size: 30px;
	text-align: center;
	color: antiquewhite;
	margin-bottom: 10px;
}
.input-group{
	display: flex;
	align-items: center;
	position: relative;
	font-size: 24px;
	margin: 25px 0px;
}
::placeholder{
	font-size: 20px;
}
input{
	outline: 0;
	border: none;
	background: transparent;
	border-bottom: 3px solid #999;
	width: 100%;
	font-size: 21px;
	flex-basis: 68%;
	padding: 5px;
	margin-left: 10px;
}
form button{
	font-size: 24px;
	margin-left: 35%;
	margin-top: 20px;
	background: #138D75;
	border-radius: 20px;
	cursor: pointer;
	padding: 10px 30px;
}
.input-group span{
	position: absolute;
	font-size: 20px;
	right: 35px;
	bottom: 12px;
}
.fa-check-circle{
	color: green;
}
.fa-close{
	color: red;
}
#name{
	margin-left: 54px;
}
#email{
	margin-left: 15px;
}
.submitError{
	text-align: center;
	color: white;
	font-size: 24px;
	transform: translate(50%,0);
	visibility: hidden;
	transition: 2s;
}
.slide-in{
	visibility: visible;
	transform: translate(0,0);
	padding: 10px 5px;
}